extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/css/address.css")

block content
  include includes/_header.pug

  main
    .address-list

      if contact.length > 0
        ul
          h1 People in your list
          each address in contact
            li
              ul
                li.name First Name : #{address.name}
                li.name Last Name : #{address.lastname}
                li.email Email : #{address.email}
                li.cell_phone Phone : #{address.phone}
                li.home_phone Home phone : #{address.homephone}
                li.kin Next of Kin : #{address.kin}
                .action
                  a(href='/address/delete/'+address.id+'/') Delete
                  a(href='/address/edit/'+address.id+'/') Edit
      else
        .unavailable-notice
          h1 You have no address now! #[br]Please add some address to your address book
          p: a(href='/address/add/') You can add one here
          
      .infoMsg
        each error in errors
          p= error

        each info in infos
          p= info

        unless contact.length
          small &#169; 2019 || brightside
        
block bottom_scripts
  append bottom_scripts
    script(src="/javascripts/effects.js")